<%- include('partials/header.ejs') %>
    <body>
        <h1>Pregunta el tiempo</h1>
        <form id="formulario">
            <label>¿Dónde?<input type="text" id="busqueda"></label><br>
            <textarea id="respuesta"></textarea><br>
            <input type="submit">
        </form>
    </body>
</html>
