<!doctype html>
<html>
    <head>
        <title>DAWE</title>
        <meta charset="utf-8">
        <meta name="description" content="Descripcion">
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/estilos.css">
    </head>
    <body>
        <div id="imagenes"></div>
        <p>Hola, te encuentras en otra sección diferente :)</p>
        <a href="/">Volver al inicio</a>
    </body>
</html>