<!DOCTYPE html>
<html>
    <head>
        <title>DAWE</title>
        <meta charset="utf-8">
        <meta name="description" content="Descripcion">
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="/css/estilos.css">
    </head>
    <body>
        <div id="imagenes"></div>
        <h1>Hola, escoge tu animal favorito</h1>
        <form method="post" action="/animal">
            <label>Perros <input type="radio" class="perro_o_gato"
                name="perro_o_gato" value="perro"></label> <br>
                <label>Gatos <input type="radio" class="perro_o_gato"
                    name="perro_o_gato" value="gato"></label> <br>
        </form>
        <a href="/otraseccion">Ir a otra sección</a>
    </body>
</html>