body {
    padding: 20px; 
    margin: 0 auto; 
    width: 80%; 
}
#email {
    width: 300px; 
}
#libros, #cantidad {
    display: inline-block;
    vertical-align: top;
    width: 250px; 
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.valido {
    color: green;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label {
    margin-bottom: 30px;
}
